
@inject SignInManager<IdentityUser> signInManager;

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">Online Movie Rental</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #41B3A3" asp-area="" asp-controller="Rentals" asp-action="New">New Rental</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #41B3A3" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"style="color: #41B3A3" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
                    </li>

                
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="logout" asp-controller="Account">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width: auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link"style="color: #41B3A3" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"style="color: #41B3A3" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </nav>

