@{
    ViewData["Title"] = "Home Page";
}

<!-- Header-->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to your private cinema!</div>
            <div class="intro-heading text-uppercase">Just add popcorn</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Usluge -->
<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">Choose the video on-demand option which suits you best.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-video fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Rent</h4>
                <p class="text-muted">Pick a movie and keep it for as little or as long as you would like.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="far fa-credit-card fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Buy</h4>
                <p class="text-muted">Pick a movie and own it for endless re-watching possibilities. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Stream</h4>
                <p class="text-muted">Pick a movie and instantly stream it at home or on the go.</p>
            </div>
        </div>
    </div>
</section>
